.derecha{
    float:right;
    margin-top:5px;
}
tr:nth-child(2n) {
    background: rgb(233, 232, 232);
}
.mat-header-cell {
   background: grey;
   color: white;
   font-size:14px;
}

.mat-header-cell {
    text-align: center;
    justify-content:center;
}
  
.mat-cell {
    text-align: center;
    justify-content:center;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0; 
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0; 
}